<div id="header">
    <% unless @changePageTitle %>
      <title><%= @settings.site_name %></title>
    <% else %>
      <title><%= @campaign.facebook_title+' Donation' unless @campaign.nil? %></title>
    <% end %>

  <div class="container center">
    <!-- <% if @settings.logo_image.file? %>

      <a href="/"><%= image_tag @settings.logo_image.url, alt: "logo" %></a>

    <% else %>

      <h1><a href="/"><%= @settings.site_name %></a></h1>

    <% end %> -->
    <% if !@campaign.nil? %>
        <% if  !@campaign.tweet_text.blank? && !@settings.getHeaderUrl(@campaign.tweet_text, request.host).blank? %>
            <a href="/web/cysticlife/pub?name=<%= @campaign.facebook_title unless @campaign.nil? %>&campaign=<%= @campaign.name.downcase.tr(' ', '_') unless @campaign.nil? %>&sr=<%= params[:sr]%>" ><%= image_tag @settings.getHeaderUrl(@campaign.tweet_text, request.host), alt: "logo", :class => "logo_preview" %></a>
        <% else %>
            <a href="/web/cysticlife/pub?name=<%= @campaign.facebook_title unless @campaign.nil? %>&campaign=<%= @campaign.name.downcase.tr(' ', '_') unless @campaign.nil? %>&sr=<%= params[:sr]%>" ><%= image_tag "cysticlife_logo.png", alt: "logo", :class => "logo_preview" %></a>
        <% end %>
    <% else %>
        <a href="/web/cysticlife/pub?name=<%= @campaign.facebook_title unless @campaign.nil? %>&campaign=<%= @campaign.name.downcase.tr(' ', '_') unless @campaign.nil? %>&sr=<%= params[:sr]%>" ><%= image_tag "cysticlife_logo.png", alt: "logo", :class => "logo_preview" %></a>
    <% end %>
    
    <% if !@settings.header_link_text.blank? && !@settings.header_link_url.blank? %>
    <div class="header_link">
      <a href="<%= @settings.header_link_url %>" target="_blank" class="btn"><%= @settings.header_link_text %></a>
    </div>
    <% end %>

  </div>
</div>
<div style="width: 100%;">
<div style="height: 8px; background-color: gray;width: 75%; margin-left: auto; margin-right: auto;"></div>
</div>