<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CysticLife Donation</title>
<div id="checkout">
  <div class="container content_box clearfix">
    <div class="main_content">
      <h3><a href="/web/cysticlife/pub?name=<%= @campaign.facebook_title %>&campaign=<%= @campaign.name.downcase.tr(' ', '_') unless @campaign.nil? %>&sr=<%= params[:sr]%>"><%= @campaign.name %></a></h3>

      <!-- <h3><a href="<%= campaign_home_path(@campaign) %>"><%= @campaign.name %></a></h3> -->

      <div class="checkout_block">
        <form accept-charset="UTF-8" action="<%= checkout_payment_path(@campaign, :sr => params[:sr]) %>" method="GET" id="amount_form">

          <% if @campaign.payment_type == 'fixed' %>

            <div class="quantity_input">
              <div class="donation_heading">
                <div style="float: right"><i class="icon icon-lock" data-placement="top"></i></div>
                <h4 class="amount_header"><strong> Select Donation Level:</strong></h4><br>
              </div>
              
              <% if @campaign.facebook_description.nil? or @campaign.facebook_description == '' or @amountArray.nil?  %>
                  <div class="payment_div">
                    <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price((@campaign.fixed_payment_amount )) %> %>
                    <label class="payment_label">Donate <%= short_price((@campaign.fixed_payment_amount ), '$', 0) %></label>
                  </div><br>
                  <div class="payment_div">
                    <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price((@campaign.fixed_payment_amount * 2 )) %> %>
                    <label class="payment_label">Donate <%= short_price((@campaign.fixed_payment_amount * 2 ), '$', 0) %></label>
                  </div><br>
                  <div class="payment_div">
                    <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price((@campaign.fixed_payment_amount * 3 )) %> %>
                    <label class="payment_label">Donate <%= short_price((@campaign.fixed_payment_amount * 3 ), '$', 0) %></label>
                  </div><br>

               <% else %>
                  <% @amountArray.each do |amount_item| %>
                    <div class="payment_div">
                      <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price(amount_item) %> %>
                      <label class="payment_label">Donate <%= short_price(amount_item, '$', 0) %></label>
                    </div><br>
                  <% end %>

              <% end %> 
              <div class="payment_div">
                <input type="radio" name="quantity" class="payment_radio_other" id="quantity" value=1 %>
                <label class="payment_label">Other $</label>
                <!-- <input id="amount_other" disabled=<%= @quantity == 4? '':'disabled' %> placeholder= "Minimum <%= short_price((@campaign.fixed_payment_amount ), '$', 0) %>"  type="text" class="payment_text"  name="amount_other" /> -->
                <input id="amount_other" disabled=<%= @quantity == 4? '':'disabled' %>"  type="text" class="payment_text"  name="amount_other" />
              </div><br>
              
            </div>

            <input id="amount" type="hidden" name="amount" value="<%= number_with_precision(@campaign.fixed_payment_amount, precision: 2) %>" data-original="<%= number_with_precision(@campaign.fixed_payment_amount, precision: 2) %>"/>

          <% else %>

            <div class="amount_section">
            <h4 class="amount_header">Please enter an amount: </h4>
            <br/>
            <div class="amount_input" style="position:relative">
              <input id="amount" type="text" name="amount" value="<%= number_with_precision(@reward.price, precision: 2) if @reward %>"/>&nbsp;&nbsp;
              <span style="position:absolute">$</span>
            </div>
            <span class="minimum">Minimum is <%= short_price(@campaign.min_payment_amount, '$', 2) %></span>
            <label class="error hide"></label>
            </div>
            <input id="quantity" type="hidden" name="quantity" value="1"/>

          <% end %>
          <input id="sr" type="hidden" name="sr" value="<%= params[:sr]%>"/>

          <% if @campaign.rewards? %>
            <div id="reward_select" data-reference="<%= @campaign.reward_reference %>">
            <h4>Select your <%= @campaign.reward_reference %>: </h4>
            <ul>
              <li class="reward_option active <%= raw('hide') if @reward %> clearfix" data-id="0" data-price="<%= number_with_precision(@campaign.min_payment_amount, precision: 2) %>">
                  <input class="reward_input" type="radio" name="reward" value="0">
                  <label class="price"></label>
                  <div class="reward_description">
                    <p class="title">No <%= @campaign.reward_reference %></p>
                  </div>
                  <a class="reward_edit" href="#" style="display:none">edit</a>
              </li>
              <% @campaign.rewards.order("price ASC").each do |reward| %>
              <% if reward.visible? %>
                <li class="reward_option <%= raw('active') unless reward.sold_out? %> <%= ((@reward.id == reward.id) ? raw('selected') : raw('hide')) if @reward %> clearfix" data-id="<%= reward.id %>" data-price="<%= number_with_precision(reward.price, precision: 2) %>">
                  <input class="reward_input" type="radio" name="reward" value="<%= reward.id %>" <%= raw('disabled') if reward.sold_out? %><%= raw('checked="checked"') if @reward && @reward.id == reward.id %>>
                  <label class="price"><%= short_price(reward.price, '$') %> +</label>
                  <div class="reward_description">
                    <p class="title"><%= reward.title %></p>
                    <p class="claimed">
                      <%= reward.payments.successful.count %> <%= "of #{reward.number}" unless reward.unlimited? %> claimed
                      <% if reward.sold_out? %> (All gone!) <% end %>
                    </p>
                    <p class="description"><%= reward.description %></p>
                    <p class="delivery">Estimated Delivery: <%= reward.delivery_date %></p>
                  </div>
                  <a class="reward_edit" href="#" style="<%= 'display:none' unless @reward && @reward.id == reward.id %>">edit</a>
                </li>
              <% end %>
              <% end %>
            </ul>
            </div>
          <% end %>


          <div class="submit_div"><p class="submit_align" ><button type="submit" class="btn" id="continue_to_checkout">    Donate    </button>
          <!-- <%= link_to_function '<button type="button" class="btn">Back</button>'.html_safe , "history.back()" %> --> </p></div>

          <p style="font-size: 13px; margin-top: 20px">All donations are fully tax-deductible to fullest extent permitted by law.</p>

        </form>
      </div>
    </div>

    <div class="checkout_sidebar" style="height:  <%= (@amountArray.size-3)*78+510 unless @amountArray.nil? %>px;">
      <div class="custom_content">
        <%= raw(@campaign.checkout_sidebar_content) %>
      </div>
    </div>
    <div class="checkout_bottombar">
      <div class="custom_content">
        <%= raw(@campaign.checkout_sidebar_content) %>
      </div>
    </div>

  </div>

  
  
  
<div class="modal hide fade mobile_model" id="faqmodel">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>FAQ Content</h3>
  </div>
  <div class="modal-body">
    <iframe class="faq_content" id="faq_iframe"></iframe>
  </div>
</div>


  
  
  
  
  
  
</div>
