<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CysticLife Donation</title>
  <head>
    	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','//connect.facebook.net/en_US/fbevents.js');

		fbq('init', '<%= @campaign.video_embed_id %>');
		fbq('track', "PageView");
		fbq('track', "InitiateCheckout");
	</script>
	<noscript>
		<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=<%= @campaign.video_embed_id %>&ev=PageView&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->

	<script type="text/javascript">
	function PopIt() {
		$('#exitModel').modal();                      // initialized with defaults
		$('#exitModel').modal({ keyboard: false });  // initialized with no keyboard
		$('#exitModel').modal('show');
		window.onbeforeunload = unPopIt;
		return "Your feedback is very important and, it takes just a minute. Please let us know your reason for not donating. Also, did you know that the minimum donation is $10?";
	}
	function unPopIt() {
		
	}
	window.onbeforeunload = PopIt;
 
	<% if local_assigns[:admin].nil? %>
	<% flash.to_hash().slice(:info).each do |key, value| %>
	<% if !value.blank? %>
		window.onbeforeunload = unPopIt;
	<% end %>
	<% end %>
	<% end %>
	
	
	var memoryLabel = "In memory of: ";
  function edValueKeyPress()
    {
        var s1 = $('#donormemory').val();
	$("#inmemoryValue").text(memoryLabel+s1);    
    }
</script>
    
  </head>
<div id="checkout">
  <div class="container content_box clearfix">
    <div class="main_content">
      <h3><a href="/web/<%= @campaign.facebook_title.downcase %>/pub?name=<%= @campaign.facebook_title %>&campaign=<%= @campaign.name.downcase.tr(' ', '_') unless @campaign.nil? %>&sr=<%= params[:sr]%>"><%= @campaign.name %></a></h3>

      <!-- <h3><a href="<%= campaign_home_path(@campaign) %>"><%= @campaign.name %></a></h3> -->

      <div class="checkout_block">
        <form accept-charset="UTF-8" action="<%= checkout_payment_path(@campaign, :sr => params[:sr]) %>" method="GET" id="amount_form">

          <% if @campaign.payment_type == 'fixed' %>

            <div class="quantity_input">
              <div class="donation_heading">
                <div style="float: right"><i class="icon icon-lock" data-placement="top"></i></div>
                <h4 class="amount_header"><strong> Select Donation Level:</strong></h4><br>
              </div>
              
              <% if @campaign.facebook_description.nil? or @campaign.facebook_description == '' or @amountArray.nil?  %>
                  <div class="payment_div">
                    <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price((@campaign.fixed_payment_amount )) %> %>
                    <label class="payment_label">Donate <%= short_price((@campaign.fixed_payment_amount ), '$', 0) %></label>
                  </div><br>
                  <div class="payment_div">
                    <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price((@campaign.fixed_payment_amount * 2 )) %> %>
                    <label class="payment_label">Donate <%= short_price((@campaign.fixed_payment_amount * 2 ), '$', 0) %></label>
                  </div><br>
                  <div class="payment_div">
                    <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price((@campaign.fixed_payment_amount * 3 )) %> %>
                    <label class="payment_label">Donate <%= short_price((@campaign.fixed_payment_amount * 3 ), '$', 0) %></label>
                  </div><br>

               <% else %>
                  <% @amountArray.each do |amount_item| %>
                    <div class="payment_div">
                      <input type="radio" name="quantity" class="payment_radio" id="quantity" value=<%= short_price(amount_item) %> %>
                      <label class="payment_label">Donate <%= short_price(amount_item, '$', 0) %></label>
                    </div><br>
                  <% end %>

              <% end %> 
              <div class="payment_div">
                <input type="radio" name="quantity" class="payment_radio_other" id="quantity" value=1 %>
                <label class="payment_label">Other $</label>
                <!-- <input id="amount_other" disabled=<%= @quantity == 4? '':'disabled' %> placeholder= "Minimum <%= short_price((@campaign.fixed_payment_amount ), '$', 0) %>"  type="text" class="payment_text"  name="amount_other" /> -->
                <input id="amount_other" disabled=<%= @quantity == 4? '':'disabled' %>"  type="text" class="payment_text"  name="amount_other" />
              </div><br>
              
	      <div class="donation_heading" style="height: auto !important;">
                <div style="float: right"><i class="icon icon-question-sign show_tooltip" data-placement="top" data-title="This dedication will be displayed in our donor honor roll"></i></div>
		<label><strong>Optionally you can dedicate this donation to a loved one</strong></label>
              </div>

		<div class="donor_payment_div">
		  <input type="radio" name="memory" class="memory_radio" id="memory" onclick="inMemoryRadioClick()" value=0 checked %>
		  <label style="display: inline!important;"><strong>In memory of</strong></label>&nbsp;&nbsp;&nbsp;
		  <input type="radio" name="memory" class="memory_radio" id="memory" onclick="inHonorRadioClick()" value=1 %>
		  <label style="display: inline!important;"><strong>In honor of</strong></label>
		  <input id="donormemory" placeholder="Name of your loved one" name="donormemory" type="text" maxlength="50" onKeyPress="edValueKeyPress()" onKeyUp="edValueKeyPress()" class="paymentconfirm_text inspectletIgnore"><br>
		  <label id="inmemoryValue">In memory of:</label>
                </div>

	      
            </div>

            <input id="amount" type="hidden" name="amount" value="<%= number_with_precision(@campaign.fixed_payment_amount, precision: 2) %>" data-original="<%= number_with_precision(@campaign.fixed_payment_amount, precision: 2) %>"/>

          <% else %>

            <div class="amount_section">
            <h4 class="amount_header">Please enter an amount: </h4>
            <br/>
            <div class="amount_input" style="position:relative">
              <input id="amount" type="text" name="amount" value="<%= number_with_precision(@reward.price, precision: 2) if @reward %>"/>&nbsp;&nbsp;
              <span style="position:absolute">$</span>
            </div>
            <span class="minimum">Minimum is <%= short_price(@campaign.min_payment_amount, '$', 2) %></span>
            <label class="error hide"></label>
            </div>
            <input id="quantity" type="hidden" name="quantity" value="1"/>

          <% end %>
          <input id="sr" type="hidden" name="sr" value="<%= params[:sr]%>"/>

          <% if @campaign.rewards? %>
            <div id="reward_select" data-reference="<%= @campaign.reward_reference %>">
            <h4>Select your <%= @campaign.reward_reference %>: </h4>
            <ul>
              <li class="reward_option active <%= raw('hide') if @reward %> clearfix" data-id="0" data-price="<%= number_with_precision(@campaign.min_payment_amount, precision: 2) %>">
                  <input class="reward_input" type="radio" name="reward" value="0">
                  <label class="price"></label>
                  <div class="reward_description">
                    <p class="title">No <%= @campaign.reward_reference %></p>
                  </div>
                  <a class="reward_edit" href="#" style="display:none">edit</a>
              </li>
              <% @campaign.rewards.order("price ASC").each do |reward| %>
              <% if reward.visible? %>
                <li class="reward_option <%= raw('active') unless reward.sold_out? %> <%= ((@reward.id == reward.id) ? raw('selected') : raw('hide')) if @reward %> clearfix" data-id="<%= reward.id %>" data-price="<%= number_with_precision(reward.price, precision: 2) %>">
                  <input class="reward_input" type="radio" name="reward" value="<%= reward.id %>" <%= raw('disabled') if reward.sold_out? %><%= raw('checked="checked"') if @reward && @reward.id == reward.id %>>
                  <label class="price"><%= short_price(reward.price, '$') %> +</label>
                  <div class="reward_description">
                    <p class="title"><%= reward.title %></p>
                    <p class="claimed">
                      <%= reward.payments.successful.count %> <%= "of #{reward.number}" unless reward.unlimited? %> claimed
                      <% if reward.sold_out? %> (All gone!) <% end %>
                    </p>
                    <p class="description"><%= reward.description %></p>
                    <p class="delivery">Estimated Delivery: <%= reward.delivery_date %></p>
                  </div>
                  <a class="reward_edit" href="#" style="<%= 'display:none' unless @reward && @reward.id == reward.id %>">edit</a>
                </li>
              <% end %>
              <% end %>
            </ul>
            </div>
          <% end %>

          <div class="submit_div"><p class="submit_align" ><button type="submit" class="btn" id="continue_to_checkout">    Donate    </button>
          <!-- <%= link_to_function '<button type="button" class="btn">Back</button>'.html_safe , "history.back()" %> --> </p></div>

          <p style="font-size: 13px; margin-top: 20px">All donations are fully tax-deductible to fullest extent permitted by law.</p>

        </form>
      </div>
    </div>

    <div class="checkout_sidebar">
      <div class="custom_content">
        <%= raw(@campaign.checkout_sidebar_content) %>
      </div>
    </div>
    <div class="checkout_bottombar">
      <div class="custom_content">
        <%= raw(@campaign.checkout_sidebar_content) %>
      </div>
    </div>

  </div>

  
  
  
<div class="modal hide fade mobile_model" id="faqmodel">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>FAQ Content</h3>
  </div>
  <div class="modal-body">
    <iframe class="faq_content" id="faq_iframe"></iframe>
  </div>
</div>

<div class="modal hide fade mobile_model1" id="exitModel">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Feedback</h3>
  </div>
  <div class="modal-body">
<form accept-charset="UTF-8" action="<%= send_feedback_path %>" method="post" id="feedback_form">
    	<div>
<div id="feedback_error" style="color: rgb(255,0,0)"></div>
    <table>
	<tboby>
		<tr style="padding: 5px">
		<td style="padding: 5px">
			<input type="radio" name="choice" class="exitModel_radio" onclick="radioClick()" id="quantity" value=101 %>
		</td>
		<td style="padding: 5px">
			<label class="exitModel_label">I would like lower payment choices (less than $25)</label>
		</td>	
		</tr>
		<tr style="padding: 5px">
		<td style="padding: 5px">
			<input type="radio" name="choice" class="exitModel_radio" onclick="radioClick()" id="quantity" value=102 %>
		</td>
		<td style="padding: 5px">
			<label class="exitModel_label">The sweepstake offers are unattractive</label>
		</td>	
		</tr>
		<tr style="padding: 5px">
		<td style="padding: 5px">
			<input type="radio" name="choice" class="exitModel_radio" onclick="radioClick()" id="quantity" value=103 %>
		</td>
		<td style="padding: 5px">
			<label class="exitModel_label">I feel payment maybe insecure</label>
		</td>	
		</tr>
		<tr style="padding: 5px">
		<td style="padding: 5px">
			<input type="radio" name="choice" class="exitModel_radio" onclick="otherRadioClick()" id="quantity" value=104 %>
		</td>
		<td style="padding: 5px">
			<label class="exitModel_label">Other reason</label>
		</td>	
		</tr>
		<tr style="padding: 5px">
		<td style="padding: 5px">
		</td>
		<td style="padding: 5px; width: 100%; ">
			<textarea id="feedback" name="feedback" rows="4" style="width: 96%; display: none;"></textarea>
		</td>	
		</tr>
	</tboby>
    </table>
    

	<div class="modal-footer">
	<button type="button" class="btn popup_submit" id="close-popup" onclick="stayBack()">I changed my mind I will make a donation</button>
	<button type="submit" class="btn popup_submit show_loader" data-loader="feedback_form" id="submit-feed-back">Submit Feedback</button>
	<!-- <%= submit_tag "Submit Feedback", data: { disable_with: "Please wait.." } %>-->
	<!-- <%= button_to_function 'I changed my mind I will make a donation', 'stayBack()' %>-->
	<!-- <%= button_to_function 'No thanks, please close page', 'closeWondow()' %> -->
	</div>
        </form>
	</div>

  </div>

</div>


  
  
</div>
